.button{
  display: flex;
  justify-content: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-decoration: none;
}

.primary{
  background: #0300ad;
  color: #ffffff;
  border: 1px solid #0b0e075c;
}

.primary:hover {
  background: rgba(3, 0, 173, 0.872)
}

.outline{
  background: #ffffff;
  color: #0300ad;
  border: 1px solid #0300ad;
}

.outline:hover {
  background: rgba(238, 238, 238, 0.247);
}

.icon{
  background: transparent;
  border: none;
  color: white;
}

.icon:hover {
  background: rgba(238, 238, 238, 0.031);
}


.transparent{
  border: none;
  padding: 0 10px;
  height: 20px;
  background-color: inherit;
  font-size: 12px;
  color: #0300ad;
}

.transparent:hover {
  background: rgba(238, 238, 238, 0.247);
}
