.container {
  display: flex;
  justify-content: center;
  color: white;
}

.container label {
  width: 100%;
  height: 100%;
}

.container span {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgb(41, 111, 240);
  cursor: pointer;
}