/*
TODO
these styles are here temporarily
they need to be refactored
-
css was used only to be able to compile 
due to an error with css.modules.
-
the names were improvised, they need to be changed
*/

:root {
  --primary: #0300ad;
  --alternative: #f9c438;
  --white: #ffffff;
  --black: #000000;
  --gray: #e1e1e7;
  --gray-dark: #a2a6be;
}

body {
  margin: 0;
  font-style: bold;
  background-color: var(--white);
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--gray), var(--gray));
  background-size: 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  box-shadow: 0 0 2px 0 var(--gray);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  box-shadow: 0 0 2px 0 var(--gray);
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  box-shadow: 0 0 2px 0 var(--gray);
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 5%;
  padding: 0.5rem;
  height: 240px;
  cursor: pointer;
}

.image-container:hover {
  border: 1px solid var(--primary);
}

.image-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.image-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-thumbnail {
  width: 100%;
  max-height: 155px;
  object-fit: contain;
  border-radius: 4px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.image-name-label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 145%;
  color: var(--black);
}

.image-size-label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 145%;
  color: var(--gray);
}

.image-selected {
  border: 1px solid var(--primary);
}

.crop-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.crop-image-range-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.crop-image-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  gap: 0.5rem;
  height: 55vh;
  overflow-y: auto;
  border: 2px solid var(--alternative);
  border-radius: 10px;
  padding: 0.5rem;
}

.crop-image-range-container input {
  width: 100%;
  margin: 10px 50px;
}

.gallery-button {
  display: flex;
  justify-content: space-between;
}

.image-view {
  display: flex;
  height: 100%;
  justify-content: center;
}

.gallery-wrapper {
  background-color: var(--white);
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 900px;
  box-sizing: border-box;
  border-radius: 10px;
}

.crop-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  height: 500px;
  margin: 15px;
  border: 2px solid var(--alternative);
  border-radius: 6px;
}

.card-body {
  height: 100%;
  margin: 0 30px;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  padding: 0 14px;
  text-align: left;
}

.card-button-container {
  padding: 10px 50px 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 0.75rem;
  padding: 0 1.75rem;
  border-radius: 0.25rem;
  transition: color 0.25s linear;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
}

button[disabled] {
  background-color: var(--gray-dark);
  color: var(--white);
  border: var(--gray-dark);
}

button[disabled]:hover {
  background-color: var(--gray-dark);
  color: var(--white);
  border: var(--gray-dark);
}

.button-primary {
  background: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

.button-primary:hover {
  background: rgba(3, 0, 173, 0.872);
}

.button-outline {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.button-outline:hover {
  background: rgba(238, 238, 238, 0.247);
}

.button-icon {
  background: transparent;
  border: none;
  color: var(--white);
}

.button-icon:hover {
  background: rgba(238, 238, 238, 0.031);
}

.button-transparent {
  border: none;
  padding: 0 10px;
  height: 20px;
  background-color: inherit;
  font-size: 12px;
  color: var(--primary);
}

.button-transparent:hover {
  background: rgba(238, 238, 238, 0.247);
}

.file-button-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 700;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-solid {
  border-color: var(--white);
  border-bottom-color: var(--primary);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
