.container {
  padding: 30px;
}

.galleryWrapper {
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 900px;
  box-sizing: border-box;
  border-radius: 10px;
}

.galleryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  overflow: scroll;
  height: 498px;
  margin: 15px;
  border: 2px solid #f9c438;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(91.61deg, #584bd6 -45.35%, #3e1586 108.77%);
  color: white;
  padding: 0 25px;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
}

.body {
  height: 100%;
  margin: 0 30px;
}

.footer {
  padding: 14px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  padding: 0 14px;
  text-align: left;
}

.buttonsContainer {
  padding: 10px 50px;
}
